.single-project {
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0 3vw;
  font-family: 'Microsoft Yi Baiti';
}

.closing-cross {
  position: absolute;
  top: 30px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.closing-cross > div {
  height: 2px;
  width: 40px;
  background-color: rgba(0,0,0,0.9);
  transition: .3s ease;
}

.closing-cross > div:nth-of-type(1) {
  transform: rotate(0);
  margin-bottom: 5px;
}

.closing-cross > div:nth-of-type(2) {
  transform: translateY(-1px) rotate(0);
}

.closing-cross:hover > div:nth-of-type(1) {
  transform: rotate(45deg);
  margin-bottom: 0;
}

.closing-cross:hover > div:nth-of-type(2) {
  transform: translateY(-1px) rotate(135deg);
}

.single-project__left {
  flex: 1.8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrow-prev {
  transform: rotate(270deg);
  height: 40px;
}

.carousel {
  background: url('../../assets/images/panda_roux1.webp');
  background-position: center;
  background-size: cover;
  width: 70%;
  height: 70%;
}

.arrow-next {
  transform: rotate(90deg);
  height: 40px;
}


.single-project__prev {
  position: absolute;
  bottom: 15vh;
  right: 89vw;
  font-size: 22px;
}

.single-project__next {
  position: absolute;
  bottom: 15vh;
  left: 55vw;
  font-size: 22px;
}

.single-project__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}

.project-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.project-description {
  text-align: justify;
  width: 50%;
  font-size: 20px;
}


/****** Mobile ******/

@media (max-width: 640px) {
  .single-project {
    flex-direction: column-reverse;
    padding: 0 5vw;
  }

  @keyframes cross1 {
    0% {
      transform: rotate(0deg);
      margin-bottom: 1px;
    }
    100% {
      transform: rotate(45deg);
      margin-bottom: 0;
    }
  }

  @keyframes cross2 {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(-1px) rotate(135deg);
    }
  }

  .closing-cross > div:nth-of-type(1) {
    animation: cross1 1s ease 1s forwards;
  }
  
  .closing-cross > div:nth-of-type(2) {
    animation: cross2 1s ease 1s forwards;
  }

  .single-project__left {
    flex: 3;
    justify-content: space-evenly;
  }
  
  .arrow-prev {
    transform: rotate(270deg);
    height: 30px;
  }
  
  .carousel {
    background: url('../../assets/images/panda_roux1.webp');
    background-position: center;
    background-size: cover;
  }
  
  .arrow-next {
    transform: rotate(90deg);
    height: 30px;
  }

  .single-project__prev {
    position: absolute;
    bottom: 5vh;
    right: 60vw;
    font-size: 28px;
  }

  .single-project__next {
    position: absolute;
    bottom: 5vh;
    left: 65vw;
    font-size: 28px;
  }

  .single-project__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
  }
  
  .project-title {
    font-size: 40px;
  }
  
  .project-description {
    width: 90%;
    font-size: 20px;
  }
}
