.burger {
  position: absolute;
  top: 20px;
  left: 20px;
}

.burger .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

.burger .lines span {
  height: 2px;
  width: 40px;
  margin: 4px;
  background: #000000;
}

.burger .lines span:nth-of-type(2) {
  width: 35px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-animation: wave 2.5s ease-in-out infinite;
          animation: wave 2.5s ease-in-out infinite;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
  }
  15% {
    -webkit-transform: scaleX(1.3);
            transform: scaleX(1.3);
  }
  25% {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
  }
  35% {
    -webkit-transform: scaleX(1.3);
            transform: scaleX(1.3);
  }
  50% {
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
  }
  100% {
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
  }
  15% {
    -webkit-transform: scaleX(1.3);
            transform: scaleX(1.3);
  }
  25% {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
  }
  35% {
    -webkit-transform: scaleX(1.3);
            transform: scaleX(1.3);
  }
  50% {
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
  }
  100% {
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
  }
}

.burger__menu {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
  pointer-events: none;
  font-family: 'SF Movie Poster';
  font-size: 24pt;
  line-height: 21.6pt;
  letter-spacing: 2px;
}

.burger__menu li {
  margin-bottom: 5px;
}

.burger__menu a {
  color: #000000;
}

.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: auto;
}