.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
}

.home__logo {
  width: 600px;
  z-index: 30;
  transform: translateY(40px);
  filter: drop-shadow(1px 4px 2px rgba(0,0,0,0.4));
}
