.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__shadow {
  position: absolute;
  width: 100vw;
  height: 100%;
  opacity: 0.4;
  filter: brightness(0.65) contrast(4);
  z-index: 30;
}

.home__logo {
  width: 600px;
  z-index: 40;
}
