.missions {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pictos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 60px 0;
  z-index: 30;
}


.mission__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.mission__bottom {
  text-align: center;
  font-family: 'Microsoft Yi Baiti';
  font-size: 20pt;
  font-weight: 600;
}


/****** Mobile ******/

@media (max-width: 640px) {

  .missions {
    height: auto;
    margin-bottom: 20px;
  }

  .pictos {
    flex-direction: column;
    width: 100%;
    padding: 0 40px 20px 40px;
    justify-content: center;
    align-items: center;
  }

  .mission__bottom {
    padding: 0 30px;
  }

}
