.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.socials {
  position: absolute;
  right: 20px;
  z-index: 50;
}

.socials a {
  transition: .3s ease;
}

.socials > a > img {
  width: 18px;
  margin-right: 10px;
}

.socials a:nth-of-type(1) img {
  filter: invert(100%);
}

.socials__amies {
  cursor: pointer;
}

.socials__amies img {
  margin-right: 10px;
  width: 14px;
  z-index: 50;
}

.friends__cross {
  z-index: 80;
  position: absolute;
  right: 40px;
  cursor: pointer;
  display: none;
}
