.friends {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF Movie Poster';
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 60;
  left: 100%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.friends__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friends__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 5px;
}

.friends__left > span {
  font-size: 64px;
  border-bottom: 1px solid #000;
  line-height: 0.9;
}

.friends__right {
  font-size: 28px;
  line-height: 1;
  letter-spacing: 2px;
  border-left: 1px solid #000;
  padding-left: 15px;
  margin-left: 15px;
}

.friends a {
  color: #000;
  transition: .3s ease;
  line-height: 1;
}

.friends a:hover {
  color: #ababab;
  transition: .3s ease;
}

/****** Mobile ******/

@media (max-width: 640px) {

  .friends__container {
    padding: 0 10px;
  }

  .friends__left > img {
    width: 40px;
  }

  .friends__left > span {
    font-size: 44px;
    border-bottom: 1px solid #000;
    line-height: 0.9;
  }

  .friends__right {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 2px;
    border-left: 1px solid #000;
    padding-left: 5px;
    margin-left: px;
  }

}