.projet {
  border: 2px solid #000;
  background-size: cover;
  background-position: center;
  z-index: 30;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.projet__bottom {
  font-family: 'SF Movie Poster';
  letter-spacing: 2px;
  font-size: 30pt;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  line-height: 1.8;
  color: #000;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.projet:hover .projet__bottom {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}


/****** Mobile ******/

@media (max-width: 640px) {

  .projet {
    border: 0;
  }

  .projet__bottom {
    font-size: 10pt;
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }
}