.projet {
  border: 2px solid #000;
  background: url('../../assets/images/panda_roux1.webp');
  background-size: cover;
  z-index: 30;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.projet__bottom {
  font-family: 'SF Movie Poster';
  letter-spacing: 2px;
  font-size: 18pt;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  line-height: 1.8;
  color: #fff;
  opacity: 0;
  transition: .5s ease;
  transform: translateY(10px);
}

.projet:hover .projet__bottom {
  opacity: 1;
  transform: translateY(0px);
}


/****** Mobile ******/

@media (max-width: 640px) {

  .projet {
    border: 0;
  }

}
