.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 40;
  min-height: 250px;
}

.mission img {
  width: 105px;
}

.mission div {
  font-family: 'SF Movie Poster';
  font-size: 36pt;
  letter-spacing: 4px;
  width: 99%;
  line-height: 0.9;
}

@media (max-width: 640px) {
  .mission {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 0;
    margin-bottom: 20px;
  }

  .mission img {
    width: 70px;
    margin-bottom: 10px;
  }

  .mission div {
    font-size: 23pt;
    letter-spacing: 4px;
    max-width: 150px;
  }
}