body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-image: url('./assets/images/wall.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

.App, #root {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* 
.space {
  margin-bottom: 1000px;
} */

/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #fff; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 10px;
}