@font-face {
  font-family: 'SF Movie Poster';
  src: url('./assets/fonts/SF_Movie_Poster.ttf');
}

@font-face {
  font-family: 'Microsoft Yi Baiti';
  src: url('./assets/fonts/Microsoft_Yi_Baiti.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-image: url('./assets/images/wall.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #fff; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 10px;
}