.collectif {
  background: #fff;
  height: 100vh;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.collectif__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.collectif__container {
  text-align: center;
  font-family: 'SF Movie Poster';
  height: 100%;
  position: relative;
  z-index: 20;
}

.collectif__container div {
  letter-spacing: 2px;
  margin-bottom: 10px;
  display: block;
}

.collectif__container div:nth-of-type(1) {
  font-size: 40pt;
  font-weight: 200;
  position: relative;
  display: flex;
  justify-content: center;
}

.collectif__container div:nth-of-type(1)::after {
  content: '';
  position: absolute;
  top: 60px;
  width: 120px;
  border-bottom: 1px solid #000;
}

.collectif__container div:nth-of-type(2) {
  font-size: 30pt;
  font-weight: bold;
}

.cedille {
  position: relative;
}

.cedille::after {
  content: "`";
  position: absolute;
  top: 18px;
  left: -15px;
  transform: rotate(90deg);
}

.collectif__container div:nth-of-type(3) {
  font-size: 30pt;
  font-weight: 200;
}

.collectif__container div:nth-of-type(4) {
  font-size: 33pt;
  font-weight: bold;
  line-height: 1.6;
}

.collectif__container div:nth-of-type(5) {
  font-size: 22pt;
  font-weight: 200;
}

.collectif__container div:nth-of-type(6) {
  font-size: 30pt;
  font-weight: 200;
}

.collectif__container div:nth-of-type(7) {
  border: 1px solid #000;
  width: 40%;
  margin: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****** Mobile ******/

@media (max-width: 640px) {
  .collectif {
    height: calc(100vh - 60px);
  }

  .collectif__shadow {
    height: calc(100vh - 60px);
  }

  .collectif__container div:nth-of-type(7) {
    width: 80%;
  }
}
