.projets {
  background: #fff;
  height: 100vh;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

.projets__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: calc(100% - 100px);
  padding: 50px 250px;
}

.projet {
  border: 2px solid #000;
  background: url('../../assets/images/panda_roux1.webp');
  background-size: cover;
  z-index: 20;
}